extends ../partials/nav

block content
  .row
    .col-md-4.col-md-offset-4
      h1 Sign Up
      - if (hasErrors)
          each val in messages
            div(class="alert alert-danger")= val
      form(action="/user/signup" method="post")
        .form-group
          label(for="email") E-mail
          input(type="text" id="email" name="email" class="form-control")
        .form-group
          label(for="password") Password
          input(type="password" id="password" name="password" class="form-control")
        input(type="hidden" name="_csrf" value= csrfToken)
        button(type="submit" class="btn btn-primary") Sign Up